<div class="card">
    <div class='card-header'>
        <h3>Usuarios de Twitter</h3>
    </div>

    <div class='card-body'>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Twitter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>

            <!--button (click)="agregarPersona()" type="button" class="btn btn-outline-primary btn-block">
        Agregar con Boton
      </button-->
        </table>
    </div>
    <div class='card-footer'>
        <a [routerLink]="['/2']" class="btn btn-outline-primary">Agregar Usuario</a>
    </div>
</div>