<div class="card">
    <div class="card-title">
        <h3>Agregar Usuario</h3>
    </div>
    <div class="card-body">

        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido">
            </div>
            <div class="form-group">
                <label for="twitter">Twitter</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">@</div>
                    </div>
                    <input type="text" class="form-control" placeholder="ejemplo" aria-describedby="btnGroupAddon">
                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <a [routerLink]="['/1']" class="btn btn-outline-primary">Regresar</a>
            <a class="btn btn-outline-primary">Guardar</a>
        </div>
    </div>
</div>